<h1><%= @mixtape.title %></h1>
<p><%= @mixtape.description %></p>

<h2>Playlist</h2>
<table class="playlist">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Duration</th>
      <th />
    </tr>
  </thead>
  <tbody>
    <% @mixtape.tracks.order(:position).each do |track| %>
    <tr>
      <td class="track-no numeric"><%= track.track_no %></td>
      <td class="title"><%= track.title %></td>
      <td class="artist"><%= track.artist %></td>
      <td class="duration"><%= format_duration(track.duration) %></td>
      <td>
        <%= link_to 'X', track_path(track), method: :delete %>
        <%= link_to '&uarr;'.html_safe, move_up_track_path(track), method: :patch %>
        <%= link_to '&darr;'.html_safe, move_down_track_path(track), method: :patch %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<h2>Add a Track</h2>
<%= render partial: 'tracks/form', locals: {mixtape: @mixtape, track: @track} %>

<p><%= link_to 'Edit', edit_mixtape_path(@mixtape.id) %></p>
<p><%= link_to 'Delete', mixtape_path(@mixtape), method: :delete, data: { confirm: 'Do you really want to permanently give up on this mixtape?' } %></p>